# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
bower_components
/vendor
/dist/vendor
_cache
_optimization
db/sync
_workdir
.ssl

dist/uploads/img/[0-9]*prc
dist/uploads/img-tiny

