%title {
	font-family: $font-family-title;
	font-weight: $font-weight-medium;
	line-height: 1.25em;
	margin: 0 0 0.5em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

%title1 {
	@extend %title;
	font-size: $font-size-title1-xl;
	
	@include responsive-fontsizes((
		lg: $font-size-title1-lg,
		md: $font-size-title1-md,
		sm: $font-size-title1-sm,
		xs: $font-size-title1-xs,
	));
}

%title2 {
	@extend %title;
	font-size: $font-size-title2-xl;

	@include responsive-fontsizes((
		lg: $font-size-title2-lg,
		md: $font-size-title2-md,
		sm: $font-size-title2-sm,
		xs: $font-size-title2-xs,
	));
}

%title3 {
	@extend %title;
	font-size: $font-size-title3-xl;
	line-height: (30 / 18);

	@include responsive-fontsizes((
		lg: $font-size-title3-lg,
		md: $font-size-title3-md,
		sm: $font-size-title3-sm,
		xs: $font-size-title3-xs,
	));
}

%title4 {
	@extend %title;
	font-size: $font-size-title4-xl;
	line-height: (30 / 16);

	@include responsive-fontsizes((
		lg: $font-size-title4-lg,
		md: $font-size-title4-md,
		sm: $font-size-title4-sm,
		xs: $font-size-title4-xs,
	));
}

%text {
	font-family: $font-family-text;
	font-weight: $font-weight-normal;
	line-height: (20/16);

	font-size: $font-size-text-xl;

	@include responsive-fontsizes((
		lg: $font-size-text-lg,
		md: $font-size-text-md,
		sm: $font-size-text-sm,
		xs: $font-size-text-xs,
	));
}

%text-smallTag {
	font-family: $font-family-text;
	font-weight: $font-weight-normal;
	line-height: (16/12);

	font-size: $font-size-small-xl;

	@include responsive-fontsizes((
		lg: $font-size-small-lg,
		md: $font-size-small-md,
		sm: $font-size-small-sm,
		xs: $font-size-small-xs,
	));
}

%text_button {
	font-family: $font-family-title;
	font-weight: $font-weight-bold;
	font-size: $font-size-button-xl;
	text-transform: uppercase;	
	line-height: 1;
	color: $color-text-primary;
	letter-spacing: letter-spacing(100);

	@include responsive-fontsizes((
		lg: $font-size-button-lg,
		md: $font-size-button-md,
		sm: $font-size-button-sm,
		xs: $font-size-button-xs,
	));
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@extend %text;
	line-height: 1.4;
	color: $color-text-tertiary;
}

h1 {
	@extend %title1;
	
	section &, article & {
		@extend %title1;
		
		section &, article & {
			@extend %title2;

			section &, article & {
				@extend %title3;
			}
		}
    }
}

h2 {
	@extend %title2;
	
	section &, article & {
		@extend %title2;
		
		section &, article & {
			@extend %title3;

			section &, article & {
				@extend %title4;
			}
		}
    }
}

h3 {
	@extend %title3;
	
	section &, article & {
		@extend %title3;
		
		section &, article & {
			@extend %title4;
		}
	}
}

p {
	@extend %text;
	margin-top: 0;
	margin-bottom: 1em;

	&:last-child() {
		margin-bottom: 0;
	}
}

small {
	display: block;
	@extend %text-smallTag;
}

a:not([class]) {
	color: $color-text-primary;
	text-decoration: underline;
	font-style: normal;
	transition: color 0.3s;
	
	&:hover {
		text-decoration: underline;
		color: rgba($color-text-primary, 0.75);
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: $font-weight-bold;
}

sup {
	font-size: 1em;
	font-weight: $font-weight-bold;
	top: -0.55em;
}