
// Website variables;
$screen-xl-min: 1500px;

$grid-gutter-width: 30px;


//===================================================================
// Colors
//===================================================================


$black: #000;
$white: #fff;

$gray96: #f5f5f2;
$gray93: #e5ebeb;
$gray56: #728b9d;
$gray40: #5b6067;
$gray51: #587f96;
$gray25: #373d45;
$gray20: #303030;
$gray14: #202328;


$color-text-primary: $gray25;
$color-text-secondary: $white;

$color-accent-primary: $gray25;
$color-accent-primary_hover: $gray40;
$color-accent-secondary: $gray56;
$color-accent-secondary_hover: $gray51;

$color-background-main: $gray96;
$color-background-light: $gray93;
$color-background-dark: $gray20;



//===================================================================
// Fonts
//===================================================================

$font-family-title: "Comic Sans", Helvetica, Arial, sans-serif;
$font-family-text: "Comic Sans", Helvetica, Arial, sans-serif;

$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$font-size-title1-lg: fs(50px);
$font-size-title1-md: fs(50px * 0.8);
$font-size-title1-sm: fs(50px * 0.8);
$font-size-title1-xs: fs(50px * 0.8);

$font-size-title2-lg: fs(40px);
$font-size-title2-md: fs(40px * 0.8);
$font-size-title2-sm: fs(40px * 0.8);
$font-size-title2-xs: fs(40px * 0.8);

$font-size-title3-lg: fs(24px);
$font-size-title3-md: fs(24px * 0.8);
$font-size-title3-sm: fs(24px * 0.8);
$font-size-title3-xs: fs(24px * 0.8);

$font-size-title4-lg: fs(18px);
$font-size-title4-md: fs(18px * 0.8);
$font-size-title4-sm: fs(18px * 0.8);
$font-size-title4-xs: fs(18px * 0.8);


$font-size-text-lg: fs(16px);
$font-size-text-md: fs(16px);
$font-size-text-sm: fs(16px);
$font-size-text-xs: fs(16px);

$font-size-text-small-lg: fs(14px);
$font-size-text-small-md: fs(14px);
$font-size-text-small-sm: fs(14px);
$font-size-text-small-xs: fs(14px);

//===================================================================
// Forms
//===================================================================


$input-field-height: 50px;
$input-field-border-color: #969696;
$input-field-padding: 15px;
$input-field-font-size: fs(14px);

$input-checkbox-font-size: fs(11px);
$input-checkbox-check-color: #fff;