html {
	font-size: 100%;
	background-size: 100% auto;
}

body {
	position: relative;
	background: transparent;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	
	&.opened {
		overflow: hidden;
	}

	.has-js.smooth-scroll & {
		//Hide the browser scrollbar for the smoothscrolling plugin
		overflow: hidden;
		
		[data-main] {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		
			@media print {
				position: static;
				height: auto;
			}
		}
	}
}

main {
	display: block;
	position: relative;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	
	overflow: hidden;
}

.container-fluid {
	width: calc(100% - 120px);

	.container-fluid {
		width: 100%;
		padding: 0;
	}
}

section {
	margin: var(--section-spacing, 0) 0;
}

img {
	max-width: 100%;
	height: auto;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: none;
	text-decoration: none;
}

button {
	border: none;
}

.smooth-scroll [data-scroll-section] {
	will-change: transform;
	visibility: hidden;

	&.section-visible {
		visibility: visible;
	}

	[data-scroll-section] {
		visibility: inherit;
	}
}

.hidden-mobile {
	display: block;

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.hidden-desktop {
	display: none;

	@include media-breakpoint-down(sm) {
		display: block;
	}
}

hr {
	border: 0;
	height: 1px;
	background: rgba($white, 0.1);
}