
// Website variables;
$grid-gutter-width: 40px !default;
$grid-gutter-widths: (
	xs: $grid-gutter-width,
	sm: $grid-gutter-width,
	md: $grid-gutter-width,
	lg: $grid-gutter-width,
	xl: $grid-gutter-width
) !default;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1500px
);

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
	sm: (720px + $grid-gutter-width),
	md: (940px + $grid-gutter-width),
	lg: (1140px + $grid-gutter-width),
	xl: (1400px + $grid-gutter-width)
);

// Containers variables
$container-xl: map-get($container-max-widths, xl);
$container-lg: map-get($container-max-widths, lg);
$container-md: map-get($container-max-widths, md);
$container-sm: map-get($container-max-widths, sm);

$headerHeight: 102px;

//===================================================================
// Colors
//===================================================================

$black: #000;
$white: #fff;

$color-text-primary: $black;
$color-text-secondary: $white;

$color-accent-primary: $black;
$color-accent-primary_hover: $black;
$color-accent-secondary: $white;
$color-accent-secondary_hover: $white;

$color-background-main: $white;
$color-background-dark: $black;



//===================================================================
// Fonts
//===================================================================

$font-family-title: Arial, Helvetica, sans-serif;
$font-family-text: Arial, Helvetica, sans-serif;

$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$font-size-title1-xl: fs(60px);
$font-size-title1-lg: fs(60px * 0.80);
$font-size-title1-md: fs(60px * 0.8);
$font-size-title1-sm: fs(30px);
$font-size-title1-xs: fs(30px);

$font-size-title2-xl: fs(45px);
$font-size-title2-lg: fs(45px * 0.8);
$font-size-title2-md: fs(45px * 0.8);
$font-size-title2-sm: fs(22px);
$font-size-title2-xs: fs(22px);

$font-size-title3-xl: fs(30px);
$font-size-title3-lg: fs(30px * 0.8);
$font-size-title3-md: fs(30px * 0.8);
$font-size-title3-sm: fs(18px);
$font-size-title3-xs: fs(18px);

$font-size-title4-xl: fs(18px);
$font-size-title4-lg: fs(18px);
$font-size-title4-md: fs(18px * 0.8);
$font-size-title4-sm: fs(12px);
$font-size-title4-xs: fs(12px);

$font-size-button-xl: fs(14px);
$font-size-button-lg: fs(14px);
$font-size-button-md: fs(14px);
$font-size-button-sm: fs(11px);
$font-size-button-xs: fs(11px);

$font-size-text-xl: fs(16px);
$font-size-text-lg: fs(16px);
$font-size-text-md: fs(14px);
$font-size-text-sm: fs(14px);
$font-size-text-xs: fs(14px);

/* <small> tag font size */
$font-size-small-xl: fs(14px);
$font-size-small-lg: fs(14px);
$font-size-small-md: fs(14px);
$font-size-small-sm: fs(14px);
$font-size-small-xs: fs(14px);

//===================================================================
// Forms
//===================================================================

$color-input: color-text-primary !default;
$color-input-accent: $color-accent-primary !default;
$color-input-border: $color-text-primary !default;
$color-input-background: $white !default;
$color-input-error: red !default;
$color-input-error-border: red !default;
$color-input-placeholder: $color-text-primary !default;